/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.global-views-modal-content {
	@extend .modal-content;
	padding: $sc-medium-margin + $sc-base-margin;
	border-radius: 0;
	display: block;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.global-views-modal-content-header-close {
  margin-top: -2px;
	float:right;
	font-size:30px;
	font-weight:$sc-font-weight-normal;
	line-height:20px;
	color:$sc-color-theme-light;
	cursor: pointer;
	background: none;
}